{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CSV2API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{- range $key,$val := . }}
                <li class="nav-item">
                    <a class="nav-link" href="/api/{{ $key }}">{{ $key }}</a>
                </li>
                {{- end }}
            </ul>
        </div>
    </div>
</nav>
{{end}}
